@import "variables";
@import "mixin";
/*-------------------------
          HERO
-------------------------*/
.hero{
    background: url("http://placehold.it/1920x1080") no-repeat center;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px $bg-white;

    .list-inline-item i {
        font-size: $f-s-20;
        font-weight: $f-w-400;
        &:hover{
            color: $base-color !important;
        }
    }
    .list-inline-item:not(:last-child) {
        margin-right: 1rem;
    }
    .personal-item{
        position: relative;
        h1{
            font-size: 2rem !important;
        }
        .personal-info{
            p{
                font-weight: $f-w-600;
            }
             span{
                font-weight: $f-w-300;
            }
        }
    }
    .personal-img img{
        position: relative;
        left: 0;
        width: 100%;
    }
}
